html,
body {
	height:100%;
}
body,
input,
textarea {
	font-family: 'Nanum Gothic', sans-serif;
	font-size:13px;
	line-height:16px;
}
body {
	background:#fefefe;
	font-size:13px;
	line-height:16px;
}
.wrap {
	min-height:100%;
}
.header {
	height:50px;
	.header-box {
		position:fixed;
		left:0;
		right:0;
		z-index:100;
		height:50px;
		background:#fff;
		border-bottom:1px solid #ddd;
		.link-home {
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		}
		.link-bell {
			position:relative;
			float:right;
			padding:5px;
			margin:9px 15px 0 0;
			.bell-num {
				position:absolute;
				right:0;
				top:0px;
				width:15px;
				height:15px;
				background:#f00;
				border-radius:50%;
				color:#fff;
				text-align:center;
				@include font-barun(10px);
				line-height:18px;
			}
		}
	}
}
.nav {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:1000;
	height:66px;
	.gnb {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:50px;
		background:#fff;
		box-shadow:0 0 6px rgba(0,0,0,0.2);
		.btn-quick {
			width:58px;
			height:70px;
			position:absolute;
			z-index:1;
			bottom:0;
			left:50%;
			transform:translate(-50%);
			background-position:-4px -57px;
		}
		.quick-wrap {
			position:absolute;
			left:50%;
			top:-4px;
			width:40px;
			height:40px;
			transform:translate(-50%);
			.link-quick {
				display:block;
				position:absolute;
				width:38px;
				height:38px;
				background:#fff;
				border-radius:50%;
				border:1px solid $theme01;
				box-shadow:2px 2px 4px rgba(0,0,0,.25);
				@extend %valign;
				text-align:center;
				transition:all 0.5s;
				.ico {
					width:24px;
					height:24px;
					vertical-align:middle;
				}
			}
			.link-favorite {
				transform:translate(0);
			}
			.link-message {
				transform:translate(0);
				transition-delay:0.05s;
			}
			.link-quicksearch {
				transform:translate(0);
				transition-delay:0.1s;
			}
			.link-group {
				transform:translate(0);
				transition-delay:0.15s;
			}
			.link-setting {
				transform:translate(0);
				transition-delay:0.2s;
			}
			&.on {
				display:block;
				.link-favorite {
					transform:translate(-66px);
				}
				.link-message {
					transform:translate(-43px, -40px);
				}
				.link-quicksearch {
					transform:translate(0, -60px);
				}
				.link-group {
					transform:translate(43px, -40px);
				}
				.link-setting {
					transform:translate(66px);
				}
			}
		}
	}
}
.container {
	padding-bottom:50px;
}
.ui-loader {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color:transparent;
}