.section-intro {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:url('../../img/spr/intro-pattern.png');
	background-size:47px auto;
	@extend %valign;
	text-align:center;
	.intro-logo {
		display:inline-block;
		vertical-align:middle;
	}
}
.section-visual {
	height:213px;
	text-align:center;
	@extend %valign;
	.ico-visual {
		display:inline-block;
		vertical-align:middle;
	}
}
.section-form {
	padding:0 20px;
	.form-txt {
		padding:3px 0 14px;
		text-align:center;
		color:#313131;
		@include font-barun(13px);
	}
	.btn-wrap {
		padding-top:18px;
	}
	.link-list-wrap {
		padding-top:24px;
		text-align:center;
		.link-list {
			display:inline-block;
			&:after {
				content:'|';
				margin:0 2px;
				color:#d2d2d2;
			}
			&:not(:only-child):last-child:after {
				content:none;
			}
		}
		.link-form {
			@include font-barun(13px);

		}
	}
	// join > 프로필
	.set-profile-wrap {
		padding:30px 0 12px;
		text-align:center;
		.frame-wrap {
			display:inline-block;
			position:relative;
			width:150px;
			height:150px;
		}
		.frame {
			overflow:hidden;
			height:150px;
			background:#e5e5e5;
			border-radius:50%;
			@extend %imgBorder;
		}
		.lb-profile {
			position:absolute;
			z-index:1;
			overflow:hidden;
			top:11px;
			right:6px;
			width:25px;
			height:25px;
			background:#7d7d7d;
			border-radius:50%;
			@extend %valign;
			text-align:center;
			.ico {
				vertical-align:middle;
			}
		}
		.btn-profile {
			position:absolute;
			left:0;
			top:0;
			opacity:0;
			filter:alpha(opacity="0");
		}
	}
	.profile-name {
		padding-top:5px;
		@include font-barun(14px);
		color:#707070;
		font-weight:normal;
		text-align:center;
	}
	.group-img-wrap {
		position:relative;
		padding:20px 0 10px;
		text-align:center;
		.img-wrap {
			position:relative;
			display:inline-block;
			max-width:360px;
			.group-img {
				width:100%;
			}
		}
		.lb-group-img {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			.file-group-img {
				@extend %hidden;
			}
		}
	}
}
.section-feed-profile {
	min-height:100px;
	padding:20px;
	border-bottom:1px solid #ddd;
	.profile-img-wrap {
		position:relative;
		float:left;
		overflow:hidden;
		width:100px;
		height:100px;
		background:#e5e5e5;
		border-radius:50%;
		margin-right:15px;
		@extend %imgBorder;
		.profile-img {
			width:100%;
		}
	}
	.profile-content {
		overflow:hidden;
		position:relative;
		.btn-list-wrap {
			position:absolute;
			right:0;
			@extend %clear;
			.btn-list {
				float:left;
				padding-left:8px;
				.btn-feed-profile {
					width:30px;
					height:30px;
					background:#fff;
					border-radius:50%;
					border:1px solid #aaa;
					@extend %valign;
					.ico {
						display:inline-block;
						vertical-align:middle;
					}
				}
			}
		}
		.user-name {
			font-weight:normal;
			color:#313131;

		}
		.follow-list-wrap {
			padding:4px 0 6px;
			@extend %clear;
			.follow-list {
				float:left;
				&:after {
					content:'|';
					margin-right:6px;
					color:#d2d2d2;
				}
				&:not(:only-child):last-child:after {
					content:none;
				}
				.link-follow {
					@include font-barun(13px);
				}
			}
		}
	}
}
.section-feed {
	.feed-category-wrap {
		position:relative;
		.btn-category {
			position:relative;
			width:100%;
			height:40px;
			border-bottom:1px solid #ddd;
			@include font-barun(13px);
			.arrow-down {
				position:absolute;
				right:20px;
				top:17px;
			}
		}
		.category-tit {
			display:inline-block;
			@include font-barun(13px);
			font-weight:normal;
		}
		.article-num {
			color:#999;
			padding-left:4px;
		}
		.pop-feed-category {
			display:none;
			position:absolute;
			z-index:1;
			top:40px;
			width:100%;
			background:#fff;
			border-bottom:1px solid #bfbfbf;
			&[aria-hidden="false"] {
				display:block;
			}
			.feed-category-list-wrap {
				max-height:140px;
				overflow-y:scroll;
				.category-list {
					line-height:40px;
					text-align:center;
					.link-category {
						display:block;
						@include font-barun(13px);
						&:hover {
							background:#f9f9f9;
						}
					}
				}
			}
			.btn-add-category {
				width:100%;
				line-height:40px;
				border-top:1px solid #ddd;
				@include font-barun(13px);
			}
		}

	}
	.feed-wrap {
		.slick-arrow {
			@extend %hidden;
		}
		.feed-list-wrap {
			display:grid;
			grid-template-columns:1fr 1fr 1fr;
			grid-gap:2px;
			padding:0 1px;
			.feed-list {
				overflow:hidden;
				position:relative;
				padding-top:100%;
				transition:all 1s;
				.link-feed {
					position:absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					&:hover {
						.feed-img {
							transform:scale(1.25);
						}
					}
					.feed-img {
						transition:transform 0.5s;
					}
				}
			}
			.feed-img {
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
		.new-category {
			height:500px;
			background:url('../../img/spr/no-article.png') center center no-repeat;
		}
		.feed-btn-wrap {
			position:absolute;
			z-index:1;
			right:0;
			bottom:0;
			padding:5px;
			.btn-collection {
				position:relative;
				width:18px;
				height:18px;
				border:1px solid #fff;
				border-radius:50%;
				text-align:center;
				.ico {
					position:absolute;
					top:0;
					left:2px;
					@media (min-width:640px){
						width:36px;
						height:36px;
					}
				}
				.ico-favorite-check-on {
					display:none;
				}
				&.on {
					.ico-favorite-check-on {
						display:block;
					}
				}
			}
		}
	}
}
#swipe-feed {
	overflow:hidden;
	max-width:100%;
	.swipe-wrap {
		position:relative;
		float:left;
	}
}
.article-feed {
	.article-info-wrap {
		height:40px;
		padding:0 15px;
		border-bottom:1px solid #eee;
		.article-writer-wrap {
			float:left;
			line-height:40px;
			.article-writer-photo {
				display:inline-block;
				vertical-align:middle;
				position:relative;
				overflow:hidden;
				width:26px;
				height:26px;
				background:#e5e5e5;
				border-radius:50%;
				@extend %imgBorder;
				.article-writer-img {
					width:100%;
				}
			}
			.article-writer {
				display:inline-block;
				padding-left:3px;
				font-weight:normal;
				@include font-barun(13px);
				color:#313131;
			}
		}
		.article-date-wrap {
			float:right;
			.article-date {
				line-height:40px;
				@include font-barun(11px);
				color:#898989;
			}
		}
	}
	.article-visual-wrap {
		clear:both;
		border-bottom:1px solid #ddd;
	}
	.article-hit-wrap {
		padding:10px 15px 8px;
		.hit-list-wrap {
			.hit-list {
				display:inline-block;
				padding-left:5px;
				&:first-child {
					padding-left:0;
				}
				.btn-feed-hit {
					@extend %valign;
					.ico {
						vertical-align:middle;
					}
				}
				.btn-feed-hit-num {
					@include font-barun(13px);
					color:#313131;
				}
			}
		}
	}
	.article-content {
		padding:3px 15px 15px;
		@include font-barun(13px);
		line-height:16px;
		color:#313131;
	}
}
.section-reply {
	.reply-list-wrap {
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		.reply-list {
			padding:8px 15px;
			border-top:1px solid #eee;
			&:first-child {
				border-top:none;
			}
			.reply-content {
				padding-top:4px;
				@include font-barun(13px);
				line-height:16px;
			}
		}
	}
	.reply-sending {
		position:relative;
		padding:15px 15px;
		.ip-wrap {
			margin:0 48px 0 0;
		}
		.ip-txtarea {
			min-height:36px;
			resize:none;
		}
		.btn-menu {
			position:absolute;
			right:20px;
			top:15px;
		}
	}
}
.section-message {
	.message-list-wrap {
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		.message-list {
			border-top:1px solid #eee;
			&:first-child {
				border-top:none;
			}
			.message-link {
				display:block;
				padding:10px 20px;
				&:hover {
					background:#f9f9f9;
				}
			}
			.content-wrap {
				position:relative;
				padding:4px 30px 0 0;
				.message-content {
					@include font-barun(13px);
					line-height:16px;
					@include elip(2);
					color:#333;
				}
				.btn-wrap {
					position:absolute;
					top:4px;
					right:0px;
					.btn-message-menu {
						position:absolute;
						top:0;
						right:0;
						width:24px;
						height:24px;
						background-color:#d2d2d2;
						border-radius:50%;
						&.on {
							background-color:#1ce7c5;
							~ .btn-message-menu {
								display:block;
							}
							+ .btn-message-menu:nth-child(2) {
								transform:translate(-28px);
							}
							~ .btn-message-menu:nth-child(3) {
								transform:translate(-56px);
							}
						}
						&:nth-child(2) {
							display:none;
							background-color:#1ce7e5;
						}
						&:nth-child(3) {
							display:none;
							background-color:#1ccbe7;
						}
					}
				}
			}

		}
	}
}
.section-talk {
	padding:10px 20px;
	.talk-wrap {
		margin-bottom:6px;
		&.send {
			text-align:right;
		}
		.talk {
			display:inline-block;
			min-width:100px;
			max-width:480px;
			text-align:left;
			.content-wrap {
				@extend %clear;
				padding:9px 10px 3px;
				margin-top:3px;
				border:1px solid #e5e5e5;
				border-radius:5px;
				box-shadow:0 1px 2px rgba(0,0,0,0.1);
				.talk-content {
					@include font-barun(13px);
				}
			}
			.date-wrap {
				line-height:16px;
			}
		}
	}
}
.section-send {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:0 55px 0 10px;
	background:#fff;
	border-top:1px solid #e5e5e5;
	.btn-send-talk {
		position:absolute;
		top:7px;
		right:10px;
		width:35px;
		height:35px;
		border-radius:3px;
		background:$theme01;
	}
}
.section-search {
	position:relative;
	.ip-wrap {
		position:relative;
		margin:15px 75px 15px 20px;
		.ip-search {
			width:100%;
			box-sizing:border-box;
			padding:14px 55px 13px 20px;
			border:1px solid #d2d2d2;
			border-radius:25px;
			&:focus {
				outline:none;
				border-color:$theme01;
			}
		}
		.btn-search {
			position:absolute;
			top:5px;
			right:6px;
			width:35px;
			height:35px;
			background:$theme01;
			border-radius:50%;
		}
	}
	.btn-category {
		position:absolute;
		top:0;
		right:20px;
		width:43px;
		height:43px;
		border:1px solid #d2d2d2;
		border-radius:50%;
		&:focus {
			outline:none;
		}
		&.on {
			background:$theme02;
			border:none;
			.ico-menu {
				border-color:#f9f9f9;
				&:before,
				&:after {
					border-color:#f9f9f9;
				}
			}
			+ .menu-wrap {
				display:block;
			}
		}
	}
	.menu-wrap {
		display:none;
		position:absolute;
		left:0;
		right:0;
		z-index:1;
		box-shadow:0 2px 4px rgba(0,0,0,0.1);
		&:before {
			content:'';
			position:absolute;
			top:-9px;
			right:32px;
			border-left:9px solid transparent;
			border-right:9px solid transparent;
			border-bottom:11px solid #d2d2d2;
		}
		&:after {
			content:'';
			position:absolute;
			top:-8px;
			right:33px;
			border-left:8px solid transparent;
			border-right:8px solid transparent;
			border-bottom:10px solid #fff;
		}

		.menu {
			padding:25px 0;
			background:#fff;
			border:1px solid #ccc;
			.menu-part {
				padding-top:20px;
				&:first-child {
					padding-top:0;
				}
			}
			.menu-tit {
				padding:0 20px 8px;
				@include font-barun(14px);
				line-height:18px;
			}
		}
	}
}
.section-slider {
	padding-bottom:20px;
}
.section-list {
	padding:0 20px;
	.section-tit {
		padding:5px 0;
		@include font-barun(14px);
		line-height:18px;
	}
	.search-header {
		@extend %clear;
		padding:3px 0 10px;
		.search-tit {
			@include font-barun(15px);
			line-height:18px;
			float:left;
		}
		.layer-wrap {
			float:right;
			.align-current {
				@include font-barun(13px);
				line-height:18px;
			}
			.layer-flow {
				right:0;
				padding:2px 0;
				text-align:center;
				background:#fff;
				border:1px solid #ccc;
				.align-link {
					display:block;
					min-width:40px;
					padding:0 6px;
					@include font-barun(13px);
					line-height:20px;
					&:hover {
						background:#f5f5f5;
					}
				}
			}

		}
	}
	.list-wrap {
		.list {
			padding:0 5px;
			border-bottom:1px solid #e9e9e9;
			&:first-child {
				border-top:1px solid #e9e9e9;
			}
			.list-link {
				display:block;
				padding:8px 0;
				@include elip(1);
			}
			.list-num {
				display:inline-block;
				padding-right:8px;
				vertical-align:middle;
				@include font-barun(14px);
				font-weight:bold;
				color:#666;
				text-align:center;
			}
			.img-wrap {
				position:relative;
				display:inline-block;
				vertical-align:middle;
				overflow:hidden;
				width:30px;
				height:30px;
				margin-right:6px;
				border-radius:50%;
				@extend %imgBorder;
				.list-img {
					width:100%;
				}
			}
			.list-content {
				display:inline-block;
				vertical-align:middle;
			}
			.list-tit {
				display:inline-block;
				padding:2px 0;
				@include font-barun(13px);
				font-weight:normal;
				color:#333;
			}
			.info {
				@include font-barun(13px);
				color:#777;
				.txt {
					&:after {
						content:'|';
						margin:0 2px;
						color:#ccc;
					}
					&:not(:only-child):last-child:after {
						content:none;
					}
				}
			}
		}
	}
}
.section-index {
	padding:60px 0;
	.section-info {
		padding-bottom:50px;
	}
	.section-tit {
		padding:10px 0 20px;
		@include font-barun(30px);
		line-height:30px;
		text-align:center;
		letter-spacing:8px;
		font-weight:lighter;
	}
	.desc {
		max-width:480px;
		margin:0 auto;
		padding:0 15px;
		@include font-barun(13px);
		line-height:18px;
		text-align:center;
		color:#666;
	}
	.link-tit,
    .link-sub {
		display:block;
		padding:0 15px;
        @include font-barun(16px);
		line-height:50px;
    }
    .link-tit {
        background:#333;
		font-weight:bold;
		color:#fff;
	}
	.link-sub {
		color:#555;
		text-decoration:underline;
		&[href="#"] {
			color:#ccc;
			text-decoration:none;
			cursor:default;
		}
		&:hover {
			color:$theme02;
		}
		.path {
			float:right;
			font-size:13px;
			color:#777;
		}
	}
	.sub-list {
		border-top:1px solid #eee;
	}
}
.section-group-info {
	padding:15px 20px;
	border-bottom:1px solid #ccc;
	.group-info-wrap {
		position:relative;
	}
	.info-wrap {
		padding-right:100px;
		.info-img-wrap {
			float:left;
			position:relative;
			width:30px;
			height:30px;
			overflow:hidden;
			border-radius:50%;
			margin-right:10px;
			@extend %imgBorder;
			.info-img {
				width:100%;
			}
		}
		.info-txt-wrap {
			overflow:hidden;
			.info-tit {
				@include font-barun(13px);
				@include elip(1);
			}
			.info-content {
				@include font-barun(13px);
				color:#666;
				.txt {
					&:after {
						content:'|';
						margin:0 2px;
						color:#d2d2d2;
					}
					&:not(:only-child):last-child:after {
						content:none;
					}
				}
			}
		}
	}
	.info-btn-wrap {
		position:absolute;
		top:0;
		right:0;
		font-size:0;
		.btn-group {
			width:30px;
			height:30px;
			margin-left:5px;
			border:1px solid #ccc;
			border-radius:50%;
			&:first-child {
				margin-left:0;
			}
		}
		.btn-group-in {
			background:$theme01;
		}
		.btn-group-quit {
			background:#999;
		}
	}
}
.section-group-feed {
	.group-feed-wrap {
		display:flex;
		.group-feed-column {
			flex-direction:column;	
		}
		.group-feed-row-wrap {
			flex-direction:row;
			
		}
		.group-feed-writer {
			text-align:center;
		}
		.group-feed-img-wrap {
			width:150px;
			height:150px;
			.group-feed-img {
				width:100%;
			}
		}
		.group-feed-writer-img-wrap {
			display:inline-block;
			width:40px;
			height:40px;
			border-radius:50%;
			overflow:hidden;
			
			.group-feed-writer-img {
				width:100%;
			}
		}
	}
}