.info-wrap {
	@extend %clear;
	.writer-wrap {
		float:left;
		.writer-photo-wrap {
			position:relative;
			display:inline-block;
			width:26px;
			height:26px;
			margin-right:3px;
			background:#e5e5e5;
			border-radius:50%;
			overflow:hidden;
			vertical-align:middle;
			&:after {
				content:'';
				position:absolute;
				left:0;
				right:0;
				top:0;
				bottom:0;
				border:1px solid rgba(0,0,0,0.15);
				border-radius:50%;
			}
			.writer-photo {
				width:100%;
			}
		}
		.writer {
			font-weight:normal;
			@include font-barun(13px);
		}
	}
}
.date-wrap {
	float:right;
	@include font-barun(11px);
	color:#898989;
	line-height:24px;
}
