.ico {
	display:inline-block;
	vertical-align:middle;
	background:url('../../img/spr/css_sprites.png');
	background-size:217px auto;
}
.ico-favorite-check-on {
    width:15px;
	height:14px;
    background-position:-119px -193px;
}
.ico-follow-message {
    width:18px;
	height:14px;
    background-position:-142px -163px;
}
.ico-friend {
    width:14px;
	height:18px;
    background-position:-4px -193px;
}
.ico-group {
    width:24px;
	height:24px;
    background-position:-163px -100px;
}
.ico-group-in {
    width:27px;
	height:16px;
    background-position:-106px -135px;
}
.ico-group-menu {
    width:27px;
	height:16px;
    background-position:-71px -135px;
}
.ico-group-quit {
    width:27px;
	height:16px;
    background-position:-36px -135px;
}
.ico-set-profile {
    width:15px;
	height:15px;
    background-position:-26px -193px;
}
.ico-like {
    width:16px;
	height:16px;
    background-position:-195px -100px;
}
.ico-live-more {
    width:8px;
	height:14px;
    background-position:-141px -135px;
}
.ico-mail {
    width:16px;
	height:16px;
    background-position:-195px -148px;
}
.ico-message {
    width:24px;
	height:24px;
    background-position:-163px -36px;
}
.ico-profile-friend {
    width:20px;
	height:18px;
    background-position:-87px -163px;
}
.ico-profile-message {
    width:20px;
	height:18px;
    background-position:-60px -163px;
}
.ico-pw {
    width:16px;
	height:16px;
    background-position:-138px -100px;
}
.ico-quick-01-01 {
    width:58px;
	height:70px;
    background-position:-4px -57px;
}
.ico-quicksearch {
    width:8px;
	height:8px;
    background-position:-163px -68px;
}
.ico-search {
    width:20px;
	height:20px;
    background-position:-32px -163px;
}
.ico-send {
    width:28px;
	height:24px;
    background-position:-70px -100px;
}
.ico-setting {
    width:8px;
	height:8px;
    background-position:-163px -4px;
}
.ico-talk {
    width:20px;
	height:16px;
    background-position:-115px -163px;
}
.ico-visual {
    width:151px;
	height:45px;
    background-position:-4px -4px;
}
.ico-bell {
    width:20px;
	height:23px;
    background-position:-4px -163px;
}
.ico-block {
    width:18px;
	height:16px;
    background-position:-195px -52px;
}
.ico-camera {
    width:35px;
	height:35px;
    background-position:-113px -57px;
}
.ico-chat-send {
    width:24px;
	height:20px;
    background-position:-4px -135px;
}
.ico-check {
    width:35px;
	height:35px;
    background-position:-70px -57px;
}
.ico-dot-menu {
    width:18px;
	height:16px;
	background-position:-195px -4px;
}
.ico-favorite {
    width:8px;
	height:8px;
    background-position:-106px -100px;
}
.ico-favorite-check {
    width:15px;
	height:14px;
    background-position:-73px -193px;
}
.ico-trash {
    width:18px;
	height:16px;
	background-position:-195px -28px;
}
.ico-user {
    width:16px;
	height:16px;
    background-position:-195px -124px;
}

.ico-feed-like {
	width:15px;
	height:14px;
	background-position:-95px -193px;
}
.on .ico-feed-like {
	background-position:-49px -193px;
}
.ico-feed-favorite {
	width:15px;
	height:14px;
	background-position:-167px -163px;
}
.on .ico-feed-favorite {
	background-position:-118px -193px;
}
.ico-add {
    width:16px;
	height:16px;
    background-position:-195px -76px;
}


.arrow-down {
	display:inline-block;
	vertical-align:middle;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #707070;
}
.on .arrow-down {
	border-top:5px solid transparent;
	border-bottom:5px solid #707070;
	margin-top:-5px;
}
.add-category {
	display:inline-block;
	width:14px;
	height:14px;
	margin-right:5px;
	border:1px solid #bfbfbf;
	border-radius:50%;
	@include cross(9px, 1px, #bfbfbf);
	vertical-align:middle;
}
.ico-menu {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:20px;
	height:1px;
	border-bottom:1px solid #d2d2d2;
	&:before,
	&:after {
		content:'';
		position:absolute;
		left:0;
		display:inline-block;
		width:100%;
		height:1px;
		border-bottom:1px solid #d2d2d2;
	}
	&:before {
		top:-7px;
	}
	&:after {
		bottom:-7px;
	}
}
