$theme01 : #1ce7c5;
$theme02 : #1ccbe7;

.blind {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
@font-face {
	font-family:"NanumBarunGothic";
	src:local("NanumBarunGothic"),
		url("fonts/NanumBarunGothic.ttf") format("ttf");
}
img {
	pointer-events:none;
}
.ip-wrap {
	position:relative;
	margin:7px 0;
}
.lb-code {
	position:absolute;
	top:0;
	right:10px;
	height:35px;
	line-height:35px;
}
.ip-txt,
.ip-txtarea {
	width:100%;
	box-sizing:border-box;
	height:35px;
	padding:10px 10px 10px 32px;
	border:1px solid #bfbfbf;
	border-radius:3px;
	@include font-barun(13px);
	color:#000;
	&::placeholder {
		color:#707070;
	}
	&.no-ico {
		padding:10px;
	}
	&[disabled] {
		border:none;
		text-align:center;
		@include font-barun(15px);
	}
}
.ip-underline {
	width:100%;
	box-sizing:border-box;
	height:35px;
	padding:10px;
	border-bottom:1px solid #bfbfbf;
	@include font-barun(11px);
	color:#000;
	&::placeholder {
		color:#707070;
	}
}
.ip-txtarea {
	padding:10px;
}
.lb-txt {
	.ico {
		position:absolute;
		top:50%;
		left:10px;
		transform:translate(0,-50%);
	}
}
.lb-chk {
	position:relative;
	float:right;
	width:15px;
	height:15px;
	margin-top:12px;
	border:1px solid #bfbfbf;
}
.ip-chk {
	position:absolute;
	float:right;
	opacity:0;
	filter:alpha(opacity=0);
}
.ip-chk:checked + .lb-chk {
	&:after {
		content:'';
		position:absolute;
		top:3px;
		left:3px;
		width:9px;
		height:9px;
		background:$theme02;
	}
}
.btn-cell-wrap {
	display:table;
	table-layout:fixed;
	width:100%;
	margin:0 -2px;
	.btn-cell {
		display:table-cell;
		padding:0 2px;
	}
}
.btn-form {
	display:block;
	width:100%;
	height:32px;
	background:#1ce7c5;
	color:#fff;
	@include font-barun(14px);
}
.btn-menu {
	width:36px;
	height:36px;
	border:1px solid #bfbfbf;
	border-radius:3px;
}
.btn-cancel {
	@extend .btn-form;
	background:#b5b5b5;
}
.ip-txtarea {
	min-height:300px;
}
.radio-wrap {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-column-gap:5px;
	.radio-box {
		position:relative;
	}
	.ip-rad {
		position:absolute;
		top:0;
		opacity:0;
		&:checked + .lb-rad {
			background:rgba(0,0,0,0.8);
			color:#fff;
		}
	}
	.lb-rad {
		display:block;
		line-height:38px;
		background:#fff;
		border:1px solid #ccc;

	}
}
.select-current {
	&.on {
		~ .layer-flow {
			display:block;
		}
	}
}
.select-wrap {
	width:100%;
	margin:7px 0;
	.select-current {
		position:relative;
		display:block;
		padding:10px;
		border:1px solid #ccc;
		border-radius:3px;
		@include font-barun(13px);
		.arrow-down {
			position:absolute;
			top:50%;
			right:10px;
			transform:translate(0,-50%);
		}
	}
	.select-wrap {
		box-sizing:border-box;
		margin-top:-1px;
		border:1px solid #bfbfbf;
		.select-option {
			display:block;
			padding:0 10px;
			@include font-barun(13px);
			line-height:30px;
			&:hover {
				background:#f5f5f5;
			}
		}
	}
}
.radio-cell-wrap {
	display:table;
	table-layout:fixed;
	width:100%;
	margin:0 -2px;
	padding:7px 0;
	.radio-cell {
		display:table-cell;
		padding:0 2px;
		text-align:center;
		&:nth-child(1) .label-radio {
			border-radius:3px 0 0 3px;
		}
		&:nth-child(2) .label-radio {
			border-radius:0 3px 3px 0;
		}
	}
	.radio-group-private {
		&:checked + .label-radio {
			background:$theme01;
			border-color:transparent;
			color:#fff;
		}
	}
	.label-radio {
		display:block;
		padding:8px 10px;
		background:#fff;
		border:1px solid #bfbfbf;
		@include font-barun(13px);
	}
}
