.blind {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
%clear {
	&:after {
		content:'';
		display:block;
		clear:both;
	}
}
.carousel-wrap {
	position:relative;

	//carousel 버튼
	.carousel-prev,
	.carousel-next {
		position:absolute;
		top:50%;
		z-index:1;
		transform:translateY(-50%);
		width:30px;
		height:30px;
		background:rgba(0,0,0,0.5);
		border:none;
	}
	.carousel-next {
		right:0;
	}
	.ico-carousel-prev,
	.ico-carousel-next {
		top:9px;
	}
	.ico-carousel-prev {
		@include arrow_type1(left, 10px, 1px, #fff);
		left:10px;
	}
	.ico-carousel-next {
		@include arrow_type1(right, 10px, 1px, #fff);
		left:7px;
	}

	//carousel
	.carousel-container {
		overflow:hidden;
		.carousel-list-wrap {
			font-size:0;
			white-space:nowrap;
			.carousel-list {
				display:inline-block;
				width:100%;
				text-align:center;
				@extend %valign;
			}
			.carousel-img {
				display:inline-block;
				max-width:100%;
				max-height:360px;
				vertical-align:middle;
			}
		}
	}

	//carousel num
	.num-list-wrap {
		position:absolute;
		left:50%;
		bottom:8px;
		z-index:1;
		transform:translate(-50%);
	}
	.num-list {
		.num {
			display:inline-block;
			&:first-child {
				margin-left:0;
			}
			&-link {
				display:block;
				width:6px;
				height:6px;
				background:#fff;
				border:1px solid #999;
				border-radius:50%;
			}
			&.on {
				.num-link {
					background:$theme02;
					border:1px solid $theme01;
				}
			}
		}
	}
}
