//layer
.layer-scroll-block {
	overflow:hidden;
}
.layer {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2000;
	&.on {
		display:block;
	}
	.layer-dim {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(0,0,0,.5);
	}
	.layer-window {
		position:relative;
		top:50%;
		left:50%;
		max-width:360px;
		background:#fff;
		transform:translate(-50%, -50%);
	}
}
.layer-wrap {
	display:inline-block;
	position:relative;
	.layer-flow {
		display:none;
		position:absolute;
		z-index:1;
		background:#fff;
		&.on {
			display:block;
		}
	}
}

.layer-theme {
	.layer-window {
		background:#fff;
		border:1px solid #999;
	}
	.layer-hd {
		padding:18px 20px 0;
		.layer-tit {
			font-weight:normal;
			@include font-barun(14px);
			.tit-info {
				padding-left:5px;
				font-size:10px;
				vertical-align:middle;
				color:#434343;
			}
		}
	}
	.layer-bd {
		padding:15px 20px 20px;
	}
	.ico-close {
		@include cross_x(24px, 1px, #666);
		position:absolute;
		top:5px;
		right:5px;
		border:0;
		background:transparent;
	}
	.layer-img {
		width:100%;
	}
}
.layer-theme-alert {
	.layer-window {
		max-width:320px;
	}
	.layer-bd {
		padding:15px 20px 20px;
		.alert-txt {
			padding:27px 0 21px;
			text-align:center;
			@include font-barun(13px);
		}
	}
	.btn-wrap {
		display:table;
		width:100%;
		.btn-cell {
			display:table-cell;
		}
	}
}

.layer-list-wrap {
	overflow-y:scroll;
	max-height:150px;
	.layer-list {
		padding:0 7px;
		border-top:1px solid #eee;
		&:first-child {
			border-top:none;
		}
		.name {
			@include font-barun(13px);
			line-height:40px;
			color:#535353;
		}
	}
	.layer-link-list {
		border-top:1px solid #eee;
		&:first-child {
			border-top:none;
		}
		.list-link {
			display:block;
			padding:0 7px;
			@include font-barun(13px);
			line-height:40px;
			color:#535353;
			&:hover {
				background:#f9f9f9;
			}
		}
		.btn-add {
			width:100%;
			text-align:left;
			.ico {
				margin-right:2px;
			}
		}
	}
}
