.slider-wrap {
	.slick-arrow {
		@extend %hidden;
	}
	.slider-list-wrap {
		overflow:hidden;
		.slider-list {
			position:relative;
			float:left;
			max-width:640px;
			transition:transform 0.5s;
			@media screen and (max-width : 720px) {
				max-width:400px;
			}
			@media screen and (max-width : 480px) {
				max-width:320px;
			}
			&:not(.slick-current) {
				opacity:0.6;
				filter:alpha(opacity=60);
				transform:scale(.9);
			}
			.slider-link {
				display:block;
			}
			.slider-img-wrap {
				display:inline-block;
				width:100%;
				.slider-img {
					width:100%;
				}
			}
			.slider-info-wrap {
				position:absolute;
				bottom:0;
				left:0;
				right:0;
				padding:12px 20px;
				background:rgba(0,0,0,0.25);
				color:#fff;
				.slider-info-img-wrap {
					position:absolute;
					top:50%;
					transform:translate(0,-50%);
					width:25px;
					height:25px;
					border-radius:50%;
					overflow:hidden;
					&:after {
						content:'';
						position:absolute;
						left:0;
						right:0;
						top:0;
						bottom:0;
						border:1px solid rgba(0,0,0,.15);
						border-radius:50%;
					}
					.slider-info-img {
						width:100%;
					}
				}
				.slider-info {
					padding-left:35px;
					.tit {
						@include elip(1);
						@include font-barun(13px);
					}
					.content {
						@include font-barun(12px);
						color:#e5e5e5;
						.txt {
							&:last-child:after {
								content:'';
							}
							&:after {
								content:'|';
								margin:0 3px 0 6px;
							}
						}
					}
				}
			}

		}
	}
}
