@import '../01_base/_mixin.scss';
.sticky-list-wrap {
    max-width:480px;
    margin:0 auto;
    border:1px solid #eee;
    .sticky-list {
        position:sticky;
        top:0;
        background:#fff;
    }
}