.thumb-wrap {
	overflow:hidden;
	padding-left:20px;
	.slick-arrow {
		@extend %hidden;
	}
	.thumb-container {
		display:inline-block;
		padding-right:20px;
		white-space:nowrap;
	}
	.thumb {
		display:inline-block;
		vertical-align:top;
		width:100px;
		height:100px;
		margin-right:10px;
		&.new-thumb {
			border:1px dashed #d2d2d2;
		}
		.thumb-img {
			width:100%;
		}
	}
	.new-thumb {
		text-align:center;
		@extend %valign;
		.ico-add {
			display:inline-block;
			vertical-align:middle;
			width:38px;
			height:38px;
			border:1px solid #d2d2d2;
			border-radius:50%;
			@include cross(18px, 1px, #d2d2d2);
		}
	}
}
